*{
    background-color: bisque;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

div.grid-container {
    display: grid;
    grid-template-areas: 
    'header header header header header header'
    'left left main main right right'
    'left left main main right right';
}

h1.mainHeader {
    font-size: 38px;
    grid-area: header;
    text-align: center;
}

u {
    font-size: 38px;
}

p.paragraphOne {
    grid-area: left;
    margin-right: 30px;
    margin-bottom: 30px;
    text-align: justify;
    text-justify: inter-word;
}

p.paragraphTwo {
    grid-area: right;
    margin-left: 30px;
    margin-bottom: 30px;
    text-align: justify;
    text-justify: inter-word;
}

div.picture1 {
    grid-area: left;   
}

img.one {
    border-radius: 50%;
    border: rgb(85, 161, 231) dashed 2px;
    margin-left: 50px;
}

div.picture2 {
    grid-area: main;
}

img.two {
    border-radius: 50%;
    border: rgb(85, 161, 231) dashed 2px;
    margin-left: 100px;
}

div.picture3 {
    grid-area: right;    
}

img.three {
    border-radius: 50%;
    border: rgb(85, 161, 231) dashed 2px;
    margin-right: 80px;
}

#list1 {
    grid-area: right;
}

#list2 {
    grid-area: left;
}

h1, h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a.link {
    font-size: 28px;
}

div.links {
    border: rgb(209, 121, 205) solid 5px;
    padding:5px;
    margin: 5px;
    margin-bottom: 20px;
}

footer {
    text-align: center;
    font-weight: 700;
    margin-top: 100px;
    margin-bottom:30px
}

ul, ol {
    color: rgb(78, 44, 158);
}